/* Dashboard Layout */
.dashboard-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-text-dark);
}

/* Unauthorized Message Styling */
.unauthorized-message {
  color: var(--color-error-red); /* Red for error */
  background-color: var(--color-error-bg); /* Light red background */
  border: 1px solid var(--color-error-border);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

/* Summary Cards Section */
.summary-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  gap: 20px;
  justify-content: center;
  margin-top: 300px;
}

.summary-card {
  background-color: var(--color-powder-blue); /* powder blue */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  min-width: 250px; /* Minimum width for cards */
  max-width: 300px; /* Maximum width for cards */
  transition: transform 0.2s ease-in-out;
  background-color: #f5f5f5;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.summary-card h3 {
  color:#777;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.summary-card .summary-value {
  font-size: 2.5em;
  font-weight: bold;
  color: #777;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 15px;
    margin: 15px auto;
  }

  .summary-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .summary-card {
    width: 90%;
    max-width: none;
  }
}