.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Adjust for smaller navbar */
  background-color: #f5f5f5; /* whitesmoke */
  padding: 20px;
}

.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 30px;
  color: #333;
  font-family: 'Inter', sans-serif;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
  font-family: 'Inter', sans-serif;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  background-color: #f5f5f5; /* whitesmoke */
  color: #333; /* Changed text color */
}

.form-group input:focus {
  border-color: #6c757d; /* mons gray */
  outline: 0;
  box-shadow: 0 0 0 3px rgba(108, 117, 125, 0.2);
}

.error-message {
  color: #dc3545;
  margin-top: 15px;
  font-size: 0.9em;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #cce5ff; /* pale blue */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .login-card {
    padding: 30px 20px;
  }
}